<ion-header [translucent]="false">
    <ion-toolbar>
        <app-header></app-header>
    </ion-toolbar>
</ion-header>

<ion-content style="background: aliceblue" [fullscreen]="false">
    <ion-card>
        <ion-card-content>
            <ion-item>
                <ion-label id="shool-name" class="ion-text-wrap ion-text-center">{{schoolName}}</ion-label>
                <ion-thumbnail slot="end">
                    <img src="/assets/icon/hvct-logo.png">
                </ion-thumbnail>
            </ion-item>
        </ion-card-content>
    </ion-card>
    <ion-card>
        <ion-card-header class="class-info-header">
            <ion-card-title class="card-header">THÔNG TIN LỚP HỌC</ion-card-title>
        </ion-card-header>
        <ion-card-content class="class-info-list">
            <ion-item>
                <ion-label>
                    Lớp:
                </ion-label>
                <ion-label class="ion-text-end bold-text">
                    {{className}}
                </ion-label>
            </ion-item>
            <ion-item>
                <ion-label>
                    Thời Gian:
                </ion-label>
                <ion-label class="ion-text-end bold-text">
                    {{currentDate | date:'dd/MM/yyyy'}}
                </ion-label>
            </ion-item>
        </ion-card-content>
    </ion-card>
    <ion-card>
        <ion-card-header>
            <ion-card-title class="card-header">HÌNH ẢNH TRỰC TIẾP</ion-card-title>
            <ion-item>
                <img id="class-gif" src="../../../assets/gif/class.gif">
            </ion-item>
        </ion-card-header>
    </ion-card>

    <ion-card>
        <ion-item detail href="/tabs/tab-co-mat" class="ion-activated">
            <ion-icon name="person-add-outline" slot="start"></ion-icon>
            <ion-label>Có Mặt: <span class="bold-text">{{attendedNumber}}/{{totalStudent}} học viên</span>
            </ion-label>
        </ion-item>

        <ion-item detail href="/tabs/tab-vang-mat">
            <ion-icon name="person-remove-outline" slot="start"></ion-icon>
            <ion-label>Vắng Mặt: <span class="bold-text">{{absenceNumber}}/{{totalStudent}} học viên</span>
            </ion-label>
        </ion-item>

        <ion-item detail href="/tabs/tab-bo-tiet" class="ion-activated">
            <ion-icon name="walk-outline" slot="start"></ion-icon>
            <ion-label>Bỏ Tiết: <span class="bold-text">{{leftNumber}}/{{totalStudent}} học viên</span>
            </ion-label>
        </ion-item>

        <!--        <ion-item detail href="/tabs/tab-nguoi-la">-->
        <!--            <ion-icon name="accessibility-outline" slot="start"></ion-icon>-->
        <!--            <ion-label>Người lạ: <span class="bold-text">1 người</span></ion-label>-->
        <!--        </ion-item>-->
    </ion-card>

<!--    <ion-card>-->
<!--        <ion-card-header class="class-info-header">-->
<!--            <ion-card-title class="card-header">THÔNG TIN BỔ XUNG</ion-card-title>-->
<!--        </ion-card-header>-->
<!--        <ion-card-content class="class-info-list">-->
<!--            <ion-item>-->
<!--                <ion-label>-->
<!--                    Tên người dùng:-->
<!--                </ion-label>-->
<!--                <ion-label class="ion-text-end bold-text">-->
<!--                    {{this.loginUserName}}-->
<!--                </ion-label>-->
<!--            </ion-item>-->

<!--            <ion-item>-->
<!--                <ion-label>-->
<!--                    Loại tài khoản:-->
<!--                </ion-label>-->
<!--                <ion-label class="ion-text-end bold-text">-->
<!--                    {{this.accountType}}-->
<!--                </ion-label>-->
<!--            </ion-item>-->

<!--            <ion-item>-->
<!--                <ion-label>-->
<!--                    Phiên bản:-->
<!--                </ion-label>-->
<!--                <ion-label class="ion-text-end bold-text">-->
<!--                    {{this.appVersion}}-->
<!--                </ion-label>-->
<!--            </ion-item>-->
<!--        </ion-card-content>-->
<!--    </ion-card>-->

    <ion-card>
        <ion-card-content>
            <div class="ion-margin-top">
                <ion-button (click)="presentProfileModal()" class="main-button "
                            expand="full"
                            color="success">
                    Xem trang cá nhân
                </ion-button>
                <ion-button href="/danh-sach-lop" class="main-button "
                            expand="full"
                            color="primary">
                    Xem danh sách lớp
                </ion-button>
                <ion-button (click)="logout()" class="main-button"
                            expand="full"
                            color="danger">
                    Đăng xuất
                </ion-button>
            </div>
        </ion-card-content>
    </ion-card>
</ion-content>
