.class-info-header {
  padding-bottom: 0;
}

.card-header {
  text-align: center !important;
}

.class-info-list {
  padding: 0 !important;
  padding-inline-start: 0 !important;
  padding-inline-end: 0 !important;
}

#class-gif {
  padding-top: 15px;
}

#shool-name {
  font-size: 16px;
  font-weight: bold;
}

.bold-text {
  font-weight: bold;
}

.main-button {
  border-radius: 10px;
  padding: 0 10px 0 10px;
}
