<ion-header [translucent]="true">
    <ion-toolbar>
        <app-header></app-header>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="false">
    <ion-list>
        <ion-list-header class="list-header" lines="full">
            <ion-label color="primary" class="font-size-16 ion-text-wrap ion-text-center">Danh Sách Học Viên Lớp <span
                    class="bold-text">{{className}}</span> bỏ tiết ngày <span
                    class="bold-text">{{currentDate | date:'dd/MM/yyyy'}}</span></ion-label>
        </ion-list-header>

        <ion-item *ngFor="let student of studentList">
            <ion-thumbnail slot="start">
                <img [src]="student.profileImage">
            </ion-thumbnail>
            <ion-label>
                <h2>{{student.fullName}}</h2>
                <h3>Lớp: {{student.roomName}}</h3>
                <p>{{student.areaName}}</p>
            </ion-label>
        </ion-item>

    </ion-list>
</ion-content>
