<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab-live-camera">
      <ion-icon name="videocam-outline"></ion-icon>
      <ion-label>Live Camera</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab-co-mat">
      <ion-icon name="person-add-outline"></ion-icon>
      <ion-label>Có Mặt</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab-vang-mat">
      <ion-icon name="person-remove-outline"></ion-icon>
      <ion-label>Vắng Mặt</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab-bo-tiet">
      <ion-icon name="walk-outline"></ion-icon>
      <ion-label>Bỏ Tiết</ion-label>
    </ion-tab-button>

<!--    <ion-tab-button tab="tab-nguoi-la">-->
<!--      <ion-icon name="accessibility-outline"></ion-icon>-->
<!--      <ion-label>Người Lạ</ion-label>-->
<!--    </ion-tab-button>-->
  </ion-tab-bar>

</ion-tabs>
