<ion-header>
    <ion-toolbar color="tertiary">
        <!--    <ion-buttons slot="start">-->
        <!--      <ion-menu-button></ion-menu-button>-->
        <!--    </ion-buttons>-->

        <ion-title class="ion-text-center">Đăng Nhập</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="login-logo">
        <img src="assets/icon/mobile-logo.png" alt="Eyepro logo">
    </div>

    <form (ngSubmit)="login()" [formGroup]="credentials">
        <ion-list>
            <ion-item>
                <ion-label position="stacked" color="primary">Tên Đăng Nhập</ion-label>
                <ion-input name="userName" formControlName="userName" type="text" spellcheck="false"
                           autocapitalize="off" required></ion-input>
            </ion-item>

            <ion-text *ngIf="(userName.dirty || userName.touched) && userName.errors" color="danger">
                <p *ngIf="userName.errors?.required" class="ion-padding-start">
                    Tên đăng nhập không được bỏ trống
                </p>
                <p *ngIf="userName.errors?.minlength" class="ion-padding-start">
                    Tên đăng nhập không hợp lệ
                </p>
            </ion-text>

            <ion-item>
                <ion-label position="stacked" color="primary">Mật Khẩu</ion-label>
                <ion-input formControlName="password" name="password" type="password" autocapitalize="off"
                           required></ion-input>
            </ion-item>

            <ion-text *ngIf="(password.dirty || password.touched) && password.errors" color="danger">
                <p *ngIf="password.errors?.required" class="ion-padding-start">
                    Mật khẩu không được để trống
                </p>
                <p *ngIf="password.errors?.minlength" class="ion-padding-start">
                    Mật khẩu không hợp lệ
                </p>
            </ion-text>
        </ion-list>

        <ion-row>
            <ion-col>
                <ion-button [disabled]="!credentials.valid" type="submit" expand="block">Đăng Nhập</ion-button>
            </ion-col>
            <ion-col>
                <ion-button [disabled]="true" color="light" expand="block">Đăng Ký</ion-button>
            </ion-col>
        </ion-row>



<!--        <ion-button class="social-login-btn" type="button" expand="block" color="danger">-->
<!--            <ion-icon name="logo-google" slot="start"></ion-icon>-->
<!--            Sign in with Google-->
<!--        </ion-button>-->


<!--        <ion-button class="social-login-btn" type="button" expand="block" color="primary">-->
<!--            <ion-icon name="logo-facebook" slot="start"></ion-icon>-->
<!--            Sign in with Facebook-->
<!--        </ion-button>-->
    </form>

    <ion-row>
        <ion-col size="3">
            <ion-item>
                <ion-label>Server: </ion-label>
            </ion-item>
        </ion-col>
        <ion-col size="9">
            <ion-item>
                <ion-select [(ngModel)]="selectedServer" (ngModelChange)="setEnvironmentServer()" interface="action-sheet" >
                    <ion-select-option *ngFor="let server of serverList" value="{{server}}">{{server}}</ion-select-option>
                </ion-select>
            </ion-item>
        </ion-col>
    </ion-row>
</ion-content>
