<ion-header [translucent]="true">
    <ion-toolbar>
        <app-header></app-header>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-list>
        <ion-list-header class="list-header" lines="full">
            <ion-label color="primary" class="font-size-16 ion-text-wrap ion-text-center">Danh Sách Học Viên Lớp <span class="bold-text">B01</span> có mặt ngày <span
                    class="bold-text">9/10/2020</span></ion-label>
        </ion-list-header>

        <ion-item>
            <ion-thumbnail slot="start">
                <img src="/assets/face/co-mat/chau-binh-yen.jpeg">
            </ion-thumbnail>
            <ion-label>
                <h2>Châu Bình Yên</h2>
                <h3>SDT: 099999999</h3>
                <p>1 Đại Cồ Việt, Bách Khoa, Hai Bà Trưng, Hà Nội</p>
            </ion-label>
        </ion-item>

        <ion-item>
            <ion-thumbnail slot="start">
                <img src="/assets/face/co-mat/dam-van-hoa.jpeg">
            </ion-thumbnail>
            <ion-label>
                <h2>Đàm Văn Hóa</h2>
                <h3>SDT: 099999999</h3>
                <p>1 Đại Cồ Việt, Bách Khoa, Hai Bà Trưng, Hà Nội</p>
            </ion-label>
        </ion-item>

        <ion-item>
            <ion-thumbnail slot="start">
                <img src="/assets/face/co-mat/dao-cong-van.jpeg">
            </ion-thumbnail>
            <ion-label>
                <h2>Đào Công Văn</h2>
                <h3>SDT: 099999999</h3>
                <p>1 Đại Cồ Việt, Bách Khoa, Hai Bà Trưng, Hà Nội</p>
            </ion-label>
        </ion-item>

        <ion-item>
            <ion-thumbnail slot="start">
                <img src="/assets/face/co-mat/do-cong-thuc.jpeg">
            </ion-thumbnail>
            <ion-label>
                <h2>Đỗ Công Thức</h2>
                <h3>SDT: 099999999</h3>
                <p>1 Đại Cồ Việt, Bách Khoa, Hai Bà Trưng, Hà Nội</p>
            </ion-label>
        </ion-item>

        <ion-item>
            <ion-thumbnail slot="start">
                <img src="/assets/face/co-mat/do-trong-ket.jpeg">
            </ion-thumbnail>
            <ion-label>
                <h2>Đỗ Trọng Kết</h2>
                <h3>SDT: 099999999</h3>
                <p>1 Đại Cồ Việt, Bách Khoa, Hai Bà Trưng, Hà Nội</p>
            </ion-label>
        </ion-item>

        <ion-item>
            <ion-thumbnail slot="start">
                <img src="/assets/face/co-mat/do-trung-kien.jpeg">
            </ion-thumbnail>
            <ion-label>
                <h2>Đỗ Trung Kiên</h2>
                <h3>SDT: 099999999</h3>
                <p>1 Đại Cồ Việt, Bách Khoa, Hai Bà Trưng, Hà Nội</p>
            </ion-label>
        </ion-item>

        <ion-item>
            <ion-thumbnail slot="start">
                <img src="/assets/face/co-mat/doan-van-chien.jpeg">
            </ion-thumbnail>
            <ion-label>
                <h2>Đoàn Văn Chiến</h2>
                <h3>SDT: 099999999</h3>
                <p>1 Đại Cồ Việt, Bách Khoa, Hai Bà Trưng, Hà Nội</p>
            </ion-label>
        </ion-item>

        <ion-item>
            <ion-thumbnail slot="start">
                <img src="/assets/face/co-mat/doan-van-chieu.jpeg">
            </ion-thumbnail>
            <ion-label>
                <h2>Doãn Văn Chiêu</h2>
                <h3>SDT: 099999999</h3>
                <p>1 Đại Cồ Việt, Bách Khoa, Hai Bà Trưng, Hà Nội</p>
            </ion-label>
        </ion-item>

        <ion-item>
            <ion-thumbnail slot="start">
                <img src="/assets/face/co-mat/duong-quoc-thong.jpeg">
            </ion-thumbnail>
            <ion-label>
                <h2>Dương Quốc Thông</h2>
                <h3>SDT: 099999999</h3>
                <p>1 Đại Cồ Việt, Bách Khoa, Hai Bà Trưng, Hà Nội</p>
            </ion-label>
        </ion-item>

        <ion-item>
            <ion-thumbnail slot="start">
                <img src="/assets/face/co-mat/hoang-dinh-dac.jpeg">
            </ion-thumbnail>
            <ion-label>
                <h2>Hoàng Đình Đắc</h2>
                <h3>SDT: 099999999</h3>
                <p>1 Đại Cồ Việt, Bách Khoa, Hai Bà Trưng, Hà Nội</p>
            </ion-label>
        </ion-item>

        <ion-item>
            <ion-thumbnail slot="start">
                <img src="/assets/face/co-mat/hoang-thi-phuong-hue.jpeg">
            </ion-thumbnail>
            <ion-label>
                <h2>Hoàng Thị Phương Huệ</h2>
                <h3>SDT: 099999999</h3>
                <p>1 Đại Cồ Việt, Bách Khoa, Hai Bà Trưng, Hà Nội</p>
            </ion-label>
        </ion-item>

        <ion-item>
            <ion-thumbnail slot="start">
                <img src="/assets/face/co-mat/hoang-duc-canh.jpeg">
            </ion-thumbnail>
            <ion-label>
                <h2>Hoàng Đức Cảnh</h2>
                <h3>SDT: 099999999</h3>
                <p>1 Đại Cồ Việt, Bách Khoa, Hai Bà Trưng, Hà Nội</p>
            </ion-label>
        </ion-item>

        <ion-item>
            <ion-thumbnail slot="start">
                <img src="/assets/face/co-mat/hoang-thi-phuong.jpeg">
            </ion-thumbnail>
            <ion-label>
                <h2>Hoàng Thị Phương</h2>
                <h3>SDT: 099999999</h3>
                <p>1 Đại Cồ Việt, Bách Khoa, Hai Bà Trưng, Hà Nội</p>
            </ion-label>
        </ion-item>

        <ion-item>
            <ion-thumbnail slot="start">
                <img src="/assets/face/co-mat/la-van-chien.jpeg">
            </ion-thumbnail>
            <ion-label>
                <h2>Lã Văn Chiến</h2>
                <h3>SDT: 099999999</h3>
                <p>1 Đại Cồ Việt, Bách Khoa, Hai Bà Trưng, Hà Nội</p>
            </ion-label>
        </ion-item>

        <ion-item>
            <ion-thumbnail slot="start">
                <img src="/assets/face/co-mat/lang-thi-thu-hien.jpeg">
            </ion-thumbnail>
            <ion-label>
                <h2>Lãng Thị Thu Hiền</h2>
                <h3>SDT: 099999999</h3>
                <p>1 Đại Cồ Việt, Bách Khoa, Hai Bà Trưng, Hà Nội</p>
            </ion-label>
        </ion-item>

        <ion-item>
            <ion-thumbnail slot="start">
                <img src="/assets/face/co-mat/ly-mi-vang.jpeg">
            </ion-thumbnail>
            <ion-label>
                <h2>Lý Mí Vàng</h2>
                <h3>SDT: 099999999</h3>
                <p>1 Đại Cồ Việt, Bách Khoa, Hai Bà Trưng, Hà Nội</p>
            </ion-label>
        </ion-item>

        <ion-item>
            <ion-thumbnail slot="start">
                <img src="/assets/face/co-mat/ngo-huu-quyen.jpeg">
            </ion-thumbnail>
            <ion-label>
                <h2>Ngô Hữu Quyên</h2>
                <h3>SDT: 099999999</h3>
                <p>1 Đại Cồ Việt, Bách Khoa, Hai Bà Trưng, Hà Nội</p>
            </ion-label>
        </ion-item>

        <ion-item>
            <ion-thumbnail slot="start">
                <img src="/assets/face/co-mat/nguyen-ngoc-tuan.jpeg">
            </ion-thumbnail>
            <ion-label>
                <h2>Nguyễn Ngọc Tuấn</h2>
                <h3>SDT: 099999999</h3>
                <p>1 Đại Cồ Việt, Bách Khoa, Hai Bà Trưng, Hà Nội</p>
            </ion-label>
        </ion-item>

        <ion-item>
            <ion-thumbnail slot="start">
                <img src="/assets/face/co-mat/ngo-huu-quyen.jpeg">
            </ion-thumbnail>
            <ion-label>
                <h2>Ngô Hữu Quyền</h2>
                <h3>SDT: 099999999</h3>
                <p>1 Đại Cồ Việt, Bách Khoa, Hai Bà Trưng, Hà Nội</p>
            </ion-label>
        </ion-item>

        <ion-item>
            <ion-thumbnail slot="start">
                <img src="/assets/face/co-mat/nguyen-thi-kim-dung.jpeg">
            </ion-thumbnail>
            <ion-label>
                <h2>Nguyễn Thị Kim Dung</h2>
                <h3>SDT: 099999999</h3>
                <p>1 Đại Cồ Việt, Bách Khoa, Hai Bà Trưng, Hà Nội</p>
            </ion-label>
        </ion-item>

    </ion-list>
</ion-content>
