#class-info-title {
  text-align: center;
  font-weight: bold;
}

.middle-text {
  text-align: center;
  margin: auto;
}

.bold-text {
  font-weight: bold;
}

.font-size-16 {
  font-size: 16px;
}

.list-header {
  padding-inline-start: 0 !important;
  padding-inline-end: 0 !important;
}

.emoji-img {
  max-height: 80%;
  max-width: 80%;
}

.emotion-thumbnail {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  justify-items: center;
  text-align: center;
}

.emotion-container {
  margin-right: 14px;
}